*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* This basically pushes the video behind the content */
}

header {
    border-bottom: black solid 0px;
    /*background-color: #322E23;*/
}

button{
    font-size: 110%;
    font-weight: 400;
    background: transparent;
    border: none;
}

.link_config {
    text-decoration: none;
    color: #fdfdd7;
}

.wrapper {
    /*padding: 23px 16px;
    margin: 0 auto;
    max-width: 1400px;*/
    padding: 30px 40px;
    margin: 0 auto;
    max-width: 1400px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-img {
    width: 5.5%;
    height: 5.5%;
}

nav h1 {
    font-size: 120%;
    color: #fdfdd7;
    font-family: sans-serif;
    font-weight:500;
}

nav .container-navigation{
    display: flex;
    gap: 50px;
}


main{
  flex: 1;
  width: 100%;
  min-height: 100vh;
}