*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image/p;
    
}

header {
    border-bottom: black solid 0px;
    background-color: #322E23;*/
}

button{
    font-size: 110%;
    font-weight: 400;
    background: transparent;
    border: none;
}

.link_config {
    text-decoration: none;
    color: black;
}

.wrapper {
    padding: 23px 16px;
    margin: 0 auto;
    max-width: 1400px;*/
    padding: 30px 40px;
    margin: 0 auto;
    max-width: 1400px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-img {
    width: 5.5%;
    height: 5.5%;
}

nav h1 {
    font-size: 120%;
    color: #fdfdd7;
    font-family: sans-serif;
    font-weight:500;
}

nav .container-navigation{
    display: flex;
    gap: 50px;
}

main{
  flex: 80%;
  width: 100%;
  min-height: 80%;
}

.image-row {
    display: flex;
    justify-content:center; /* horizontally center */
    align-items: center;     /* vertically align */
    gap: 20px;               /* spacing between images */
    flex-wrap: wrap;
}

.image-row img {
    width: 100%;      /* take full width on mobile */
    max-width: 300px; /* but don’t get too big on desktop */
    height: 100;     /* keep aspect ratio */
  }
  
   Mobile responsiveness}*/
  @media (max-width: 600px) {

    .image-row {
      flex-direction: column; 
      .image-row img 
        max-width: 100%; /* use full screen width */
      }