*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.background-image {
    background-image: url('/Group-Project-Palesa-Branch/My Main Contrib/pics/background image.png');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo{
    width: 70px;
    height: auto;
}

header {
    border-bottom: black solid 0px;
    /*background-color: #322E23;*/
    z-index: 50;
    max-width: 100vw;
    min-width: 200px;
}

button{
    font-size: 110%;
    font-weight: 400;
    background: transparent;
    border: none;
    transition-duration: 1s;
}

button:hover{
    font-size: 125%;

}

.link_config {
    text-decoration: none;
    color: #ffffff;
}

.link_config:hover{
    color: #d6d660;
}

.wrapper {
    padding: 30px 40px;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 140%;
    color: #fdfdd7;
    font-family: sans-serif;
    font-weight:500;
}

nav .container-navigation{
    display: flex;
    gap: 50px;
}

@media (max-width: 768px) {
    .logo{
    width: 50px;
    height: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

header {
    border-bottom: black solid 0px;
    /*background-color: #322E23;*/
    z-index: 50;
    max-width: 1vw;
}

button{
    font-size: 110%;
    font-weight: 400;
    background: transparent;
    border: none;
    transition-duration: 1s;
}

button:hover{
    font-size: 125%;

}

.link_config {
    text-decoration: none;
    color: #fdfdd7;
}

.link_config:hover{
    color: #dbdbaa;
}

.wrapper {
    padding: 30px 40px;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 140%;
    color: #fdfdd7;
    font-family: sans-serif;
    font-weight:500;
}

nav .container-navigation{
    display: flex;
    gap: 50px;
}
    
}


main {
    flex: 1;
    width: 100%;
    display: flex;
    padding: 40px;
    position: relative;
}

.main-content-container {
    display: flex;
    gap: 60px;
    z-index: 10;

}


.Image {
    border-radius: 10%;
    cursor: pointer;
    height: 450px;
    max-width: 300px;
    transition-duration: 1s;
}

.Image:hover {
    border-radius: 15%;
    transform: scale(0.85);
}


.info {
    max-width: 1000px;
    color: azure;
}

.info span {
    color: #dede53;
}

.info h1 {
    font-size: 65px;
    transition-duration: 2s;
}


.info h3 {
    font-size: 22px;
}

.info p {
    color: aliceblue;
    font-size: 15px;
    line-height: 1.5;
    transition-duration: 2s;
}


.info .hire-button {
    text-decoration: none;
    background-color: #dbdbaa;
    margin-top: 60px;
    display: inline-block;
    padding: 22px 14px;
    color: black;
    font-size: 14px;
    font-weight: 300;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 1s;
}

.info .hire-button:hover {
    font-size: 17px;
    background-color: deeppink;
}

li{
    list-style-type: none;
}

.list-container{
    display: flex;
    gap: 60px;
    align-content: flex-start;
    justify-content: flex-start;
    z-index: 10;
}


@media (max-width: 768px) {
    .main-content-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }

    .Image {
        order: -1;
        width: 70%;
        max-width: 250px;
    }

    .info {
        max-width: 90%;
        text-align: center;
    }

    .info h1 {
        font-size: 40px;
    }

    .info h3 {
        font-size: 18px;
    }

    .info p {
        font-size: 14px;
    }

    .info .hire-button {
        font-size: 13px;
        padding: 16px 16px;
    }
    .list-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
}
}


footer {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    text-align: left;
    padding: 10px 0;
    color: #ffffff;
    
}

.logo2{
    width: 100px;
    height: auto;
    /*margin-left: 15%;
    margin-right: 2%;*/
}


.contact li,
.socials li,
.links li {
    list-style: none;
    margin: 5px 0;
}

.fa-brands:hover {
    transform: scale(1.2);
    transition: .3s ease;
}

.logo img {
    width: 100px;
    height: auto;
}

.contact li,
.socials li,
.links li {
    list-style: none;
    margin: 5px 0;
}

@media (max-width: 768px) {
  footer  {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .contact, footer .socials, footer .links {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  footer .logo {
    margin-bottom: 70px;
    margin-left: 1px;
  } 
 }